<html ng-app="myModule">

<head>
<!-- AngularJS CDN -->

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-route.js"></script>
<script src = 'module.js'> </script>
<script src = 'factory.js'> </script>
<script src = 'controller.js'> </script>
<script src = 'controller2.js'> </script>
<link rel = "stylesheet"
   type = "text/css"
   href = "style.css">
</head>

<body>
<img src="AxlRose.jpg" alt="Rosie Perez">

<p>Ever wondered what it would be like to live life on the wild side? <br> To love like you've never been hurt? <br>To sing like you haven't fired, replaced and systematically alienated all of your former bandmates? <br> Well, my bandana-wearing friend, you don't have to buy a plane ticket to LA just yet! <br> Through the magic of AngularJS and the awesome power of local hosting, now you, too, will know what it's like to be: AXL ROSE!! </p>
<!--
<div ng-controller="Ctrl1">
  <input type="text" placeholder="First Name" ng-model="firstName">
  <input type="text" placeholder="Last Name" ng-model="lastName">
  <button ng-click="fullName(firstName, lastName)">Return Name</button>

<p>{{finalResult}}</p>
</div> -->

<nav>
  <a href='#/input'>Create A Brand New, Completely Original Song</a>
</nav>
<ng-view></ng-view>


<!-- Scripts -->


</body>

</html>
