<input type="text" placeholder="place" ng-model="place"> 
<input type="text" placeholder="noun" ng-model="activity">
<input type="text" placeholder="activity (plural)" ng-model="activityPlural"> <br>
<input type="text" placeholder="pronoun" ng-model="pronoun">
<input type="text" placeholder="nickname" ng-model="nickname">
<input type="text" placeholder="noun (rhymes with plural activity)" ng-model="rhyme1"> <br> 
<input type="text" placeholder="organism" ng-model="people">
<input type="text" placeholder="verb" ng-model="verb2">
<input type="text" placeholder="noun" ng-model="need"> <br> 
<input type="text" placeholder="noun that rhymes with nickname" ng-model="money">
<input type="text" placeholder="condition" ng-model="disease">
<input type="text" placeholder="verb" ng-model="bring"> <br> 
<input type="text" placeholder="body part" ng-model="knees">
<input type="text" placeholder="verb rhymes with body part" ng-model="bleed">



<button ng-click="fullSong(place, activity, activityPlural, pronoun, nickname, rhyme1, people, verb2, need, money, disease, bring, knees, bleed)">Let's Rock!</button>
